In [1]:
import pandas  as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [5]:
churn_data=pd.read_csv('telecom_churn_data.csv')

In [7]:
churn_data

,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,2015,100198,409-8743,Female,36,62,no,no,148.35,12.2,16.81,82,1,4.0,1,0.0
1,2015,100643,340-5930,Female,39,149,no,no,294.45,7.7,33.37,87,3,3.0,2,0.0
2,2015,100756,372-3750,Female,65,126,no,no,87.30,11.9,9.89,91,1,4.0,5,1.0
3,2015,101595,331-4902,Female,24,131,no,yes,321.30,9.5,36.41,102,4,3.0,3,0.0
4,2015,101653,351-8398,Female,40,191,no,no,243.00,10.9,27.54,83,7,3.0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2015,997132,385-7387,Female,54,75,no,yes,182.25,11.3,20.66,97,5,4.0,2,NaN
1996,2015,998086,383-9255,Male,45,127,no,no,273.45,9.3,30.99,116,3,3.0,1,0.0
1997,2015,998474,353-2080,NaN,53,94,no,no,128.85,15.6,14.60,110,16,5.0,0,0.0
1998,2015,998934,359-7788,Male,40,94,no,no,178.05,10.4,20.18,100,6,NaN,3,0.0
1999,2015,999961,414-1496,Male,37,73,no,no,326.70,10.3,37.03,89,6,3.0,1,1.0

In [9]:
churn_data['churn'].unique

<bound method Series.unique of 0       0.0
1       0.0
2       1.0
3       0.0
4       0.0
       ...
1995    NaN
1996    0.0
1997    0.0
1998    0.0
1999    1.0
Name: churn, Length: 2000, dtype: float64>

In [11]:
cat=churn_data.select_dtypes(include='object').columns


num =churn_data.select_dtypes(exclude='object').columns

In [13]:
cat

Index(['phone_no', 'gender', 'multi_screen', 'mail_subscribed'], dtype='object')

In [15]:
num

Index(['year', 'customer_id', 'age', 'no_of_days_subscribed',
       'weekly_mins_watched', 'minimum_daily_mins', 'maximum_daily_mins',
       'weekly_max_night_mins', 'videos_watched', 'maximum_days_inactive',
       'customer_support_calls', 'churn'],
      dtype='object')

In [17]:
churn_data.size

32000

In [19]:
churn_data.shape

(2000, 16)

In [25]:
len(churn_data)

2000

In [27]:
churn_data.head

<bound method NDFrame.head of       year  customer_id  phone_no  gender  age  no_of_days_subscribed  \
0     2015       100198  409-8743  Female   36                     62
1     2015       100643  340-5930  Female   39                    149
2     2015       100756  372-3750  Female   65                    126
3     2015       101595  331-4902  Female   24                    131
4     2015       101653  351-8398  Female   40                    191
...    ...          ...       ...     ...  ...                    ...
1995  2015       997132  385-7387  Female   54                     75
1996  2015       998086  383-9255    Male   45                    127
1997  2015       998474  353-2080     NaN   53                     94
1998  2015       998934  359-7788    Male   40                     94
1999  2015       999961  414-1496    Male   37                     73

     multi_screen mail_subscribed  weekly_mins_watched  minimum_daily_mins  \
0              no              no               148.35                12.2
1              no              no               294.45                 7.7
2              no              no                87.30                11.9
3              no             yes               321.30                 9.5
4              no              no               243.00                10.9
...           ...             ...                  ...                 ...
1995           no             yes               182.25                11.3
1996           no              no               273.45                 9.3
1997           no              no               128.85                15.6
1998           no              no               178.05                10.4
1999           no              no               326.70                10.3

      maximum_daily_mins  weekly_max_night_mins  videos_watched  \
0                  16.81                     82               1
1                  33.37                     87               3
2                   9.89                     91               1
3                  36.41                    102               4
4                  27.54                     83               7
...                  ...                    ...             ...
1995               20.66                     97               5
1996               30.99                    116               3
1997               14.60                    110              16
1998               20.18                    100               6
1999               37.03                     89               6

      maximum_days_inactive  customer_support_calls  churn
0                       4.0                       1    0.0
1                       3.0                       2    0.0
2                       4.0                       5    1.0
3                       3.0                       3    0.0
4                       3.0                       1    0.0
...                     ...                     ...    ...
1995                    4.0                       2    NaN
1996                    3.0                       1    0.0
1997                    5.0                       0    0.0
1998                    NaN                       3    0.0
1999                    3.0                       1    1.0

[2000 rows x 16 columns]>

In [29]:
churn_data.tail

<bound method NDFrame.tail of       year  customer_id  phone_no  gender  age  no_of_days_subscribed  \
0     2015       100198  409-8743  Female   36                     62
1     2015       100643  340-5930  Female   39                    149
2     2015       100756  372-3750  Female   65                    126
3     2015       101595  331-4902  Female   24                    131
4     2015       101653  351-8398  Female   40                    191
...    ...          ...       ...     ...  ...                    ...
1995  2015       997132  385-7387  Female   54                     75
1996  2015       998086  383-9255    Male   45                    127
1997  2015       998474  353-2080     NaN   53                     94
1998  2015       998934  359-7788    Male   40                     94
1999  2015       999961  414-1496    Male   37                     73

     multi_screen mail_subscribed  weekly_mins_watched  minimum_daily_mins  \
0              no              no               148.35                12.2
1              no              no               294.45                 7.7
2              no              no                87.30                11.9
3              no             yes               321.30                 9.5
4              no              no               243.00                10.9
...           ...             ...                  ...                 ...
1995           no             yes               182.25                11.3
1996           no              no               273.45                 9.3
1997           no              no               128.85                15.6
1998           no              no               178.05                10.4
1999           no              no               326.70                10.3

      maximum_daily_mins  weekly_max_night_mins  videos_watched  \
0                  16.81                     82               1
1                  33.37                     87               3
2                   9.89                     91               1
3                  36.41                    102               4
4                  27.54                     83               7
...                  ...                    ...             ...
1995               20.66                     97               5
1996               30.99                    116               3
1997               14.60                    110              16
1998               20.18                    100               6
1999               37.03                     89               6

      maximum_days_inactive  customer_support_calls  churn
0                       4.0                       1    0.0
1                       3.0                       2    0.0
2                       4.0                       5    1.0
3                       3.0                       3    0.0
4                       3.0                       1    0.0
...                     ...                     ...    ...
1995                    4.0                       2    NaN
1996                    3.0                       1    0.0
1997                    5.0                       0    0.0
1998                    NaN                       3    0.0
1999                    3.0                       1    1.0

[2000 rows x 16 columns]>

In [31]:
churn_data.info

<bound method DataFrame.info of       year  customer_id  phone_no  gender  age  no_of_days_subscribed  \
0     2015       100198  409-8743  Female   36                     62
1     2015       100643  340-5930  Female   39                    149
2     2015       100756  372-3750  Female   65                    126
3     2015       101595  331-4902  Female   24                    131
4     2015       101653  351-8398  Female   40                    191
...    ...          ...       ...     ...  ...                    ...
1995  2015       997132  385-7387  Female   54                     75
1996  2015       998086  383-9255    Male   45                    127
1997  2015       998474  353-2080     NaN   53                     94
1998  2015       998934  359-7788    Male   40                     94
1999  2015       999961  414-1496    Male   37                     73

     multi_screen mail_subscribed  weekly_mins_watched  minimum_daily_mins  \
0              no              no               148.35                12.2
1              no              no               294.45                 7.7
2              no              no                87.30                11.9
3              no             yes               321.30                 9.5
4              no              no               243.00                10.9
...           ...             ...                  ...                 ...
1995           no             yes               182.25                11.3
1996           no              no               273.45                 9.3
1997           no              no               128.85                15.6
1998           no              no               178.05                10.4
1999           no              no               326.70                10.3

      maximum_daily_mins  weekly_max_night_mins  videos_watched  \
0                  16.81                     82               1
1                  33.37                     87               3
2                   9.89                     91               1
3                  36.41                    102               4
4                  27.54                     83               7
...                  ...                    ...             ...
1995               20.66                     97               5
1996               30.99                    116               3
1997               14.60                    110              16
1998               20.18                    100               6
1999               37.03                     89               6

      maximum_days_inactive  customer_support_calls  churn
0                       4.0                       1    0.0
1                       3.0                       2    0.0
2                       4.0                       5    1.0
3                       3.0                       3    0.0
4                       3.0                       1    0.0
...                     ...                     ...    ...
1995                    4.0                       2    NaN
1996                    3.0                       1    0.0
1997                    5.0                       0    0.0
1998                    NaN                       3    0.0
1999                    3.0                       1    1.0

[2000 rows x 16 columns]>

In [35]:
churn_data.isnull()

,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1997,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
1998,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False